@model CalzadoERP.Model.Zapatero

@{
    ViewData["Title"] = "Create";
}
<h3>Zapatero</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreZapatero" class="control-label"></label>
                <input asp-for="NombreZapatero" class="form-control" />
                <span asp-validation-for="NombreZapatero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionZapatero" class="control-label"></label>
                <input asp-for="DireccionZapatero" class="form-control" />
                <span asp-validation-for="DireccionZapatero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificacionZapatero" class="control-label"></label>
                <input asp-for="IdentificacionZapatero" class="form-control" />
                <span asp-validation-for="IdentificacionZapatero" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoZapatero" /> @Html.DisplayNameFor(model => model.EstadoZapatero)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaAsociacionZapatero" class="control-label"></label>
                <input asp-for="FechaAsociacionZapatero" class="form-control" />
                <span asp-validation-for="FechaAsociacionZapatero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTerminacionZapatero" class="control-label"></label>
                <input asp-for="FechaTerminacionZapatero" class="form-control" />
                <span asp-validation-for="FechaTerminacionZapatero" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="px-3" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
