@{
    ViewData["Title"] = "ERP Control Zapateria";
}

<body class="backgroundb">
    <!--body-->
    <section>
        <div class="contenedor  ">
            <img src="./img/BACKGROUND.jpg" alt="" width="1349" height="535" class="imgback">
            <div class="centrado"><p class="text-center texto ">DYNAMIC</p></div>
        </div>
    </section>
</body>
