@model CalzadoERP.Model.Cliente

@{
    ViewData["Title"] = "Create";
}
<h3>Cliente</h3>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionCliente" class="control-label"></label>
                <input asp-for="DireccionCliente" class="form-control" />
                <span asp-validation-for="DireccionCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoCliente1" class="control-label"></label>
                <input asp-for="TelefonoCliente1" class="form-control" />
                <span asp-validation-for="TelefonoCliente1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoCliente2" class="control-label"></label>
                <input asp-for="TelefonoCliente2" class="form-control" />
                <span asp-validation-for="TelefonoCliente2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacionCliente" class="control-label"></label>
                <input asp-for="FechaCreacionCliente" class="form-control" />
                <span asp-validation-for="FechaCreacionCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentariosCliente" class="control-label"></label>
                <input asp-for="ComentariosCliente" class="form-control" />
                <span asp-validation-for="ComentariosCliente" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <input type="submit" value="Crear Cliente" class="btn btn-primary" />
                <a class="px-3" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
