@model CalzadoERP.Model.Lote

@{
    ViewData["Title"] = "Create";
}

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdOrden" class="control-label"></label>
                <select asp-for="IdOrden" class ="form-control" asp-items="ViewBag.IdOrden"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEstilo" class="control-label"></label>
                <select asp-for="IdEstilo" class ="form-control" asp-items="ViewBag.IdEstilo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdZapatero" class="control-label"></label>
                <select asp-for="IdZapatero" class ="form-control" asp-items="ViewBag.IdZapatero"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadLote" class="control-label"></label>
                <input asp-for="CantidadLote" class="form-control" />
                <span asp-validation-for="CantidadLote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PiezasTerminadasLote" class="control-label"></label>
                <input asp-for="PiezasTerminadasLote" class="form-control" />
                <span asp-validation-for="PiezasTerminadasLote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                    <a asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
